@charset "utf-8";

.section {
  width: 90%;
}
.contact_form {
  width: 90%;
  margin: 0 auto;
}
.contact_box {
  display: flex;
  margin-bottom: 80px;
}
.contact_form_box1 {
  height: 51px;
  width: 69%;
  padding-left: 6px;
  font-size: 15px;
}
.contact_form_box2 {
  height: 45px;
  width: 67%;
  padding-left: 6px;
  font-size: 15px;
}
.contact_box._area {
  margin-bottom: 0;
}
.contact_form_ttl {
  width: 46%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
}
.contact_form_ttl::after {
  content: "必須";
  position: absolute;
  right: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 96px;
  line-height: 32px;
  font-size: 15px;
  color: #c72930;
  border: 1px solid #c72930;
  border-radius: 2px;
}
.contact_txtarea {
  width: 67%;
  height: 300px;
  margin-bottom: 100px;
  font-size: 15px;
  padding: 7px;
}
.contact_btn {
  width: 200px;
  height: 50px;
  margin: 0 auto 150px;
  font-size: 18px;
  display: block;
  color: #FCC077;
  background: #fff;
  border: #FCC077 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.contact_btn i {
  margin-right: 5%;
}
.contact_btn:hover {
  color: #fff;
  background: #FCC077;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 1024px) {
	main {
		padding-top: 0;
	}
	.page_top {
		height: 400px;
	}
	.page_ttl {
		left: 0;
	}
  form {
    width: 100% !important;
  }
  .contact_form_ttl {
    width: 20%;
  }
  .contact_form_ttl::after {
    right: 50px;
    top: 150%;
    font-size: 10px;
    line-height: 22px;
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
	main {
		padding-top: 0 !important;
	}
	.page_top {
		height: 300px;
	}
	.page_ttl {
		font-size: 3em;
	}
	.section_txt {
		line-height: 2em !important;
		font-size: 0.8em;
	}
  .contact_form_ttl {
    font-size: 0.9em;
  }
  .contact_form_ttl::after {
    right: 45px;
    width: 50px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
	.site_map {
		padding: 65px 0 0 5%;
	}
	.page_top {
		height: 200px;
	}
	.page_ttl {
		font-size: 1.5em;
    left: -10%;
	}

  .contact_form_ttl {
    font-size: 0.7em;
    width: 30%;
  }
  .contact_form_ttl::after {
    right: 30px;
    top: 180%;
    width: 30px;
    font-size: 8px;
  }
  .contact_form_box1 {
    height: 40px;
  }
  .contact_form_box2 {
    height: 40px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 0.7em;
  }
  .contact_btn {
    width: 130px;
    height: 30px;
    font-size: 0.7em;
  }
}